<ion-content noscroll>
  <div class="screen-section">
    <h3>188 x 8</h3>
    <h1>1504</h1>
  </div>

  <div class="button-section">

    <button type="button" class="special-operator" value="CE">CE</button>
    <button type="button" class="special-operator" value="+-">&plusmn;</button>
    <button type="button" class="special-operator" value="%">%</button>

    <button type="button" class="operator" value="/">/</button>

    <button type="button" value="7">7</button>
    <button type="button" value="8">8</button>
    <button type="button" value="9">9</button>
    <button type="button" class="operator" value="*">&times;</button>

    <button type="button" value="4">4</button>
    <button type="button" value="5">5</button>
    <button type="button" value="6">6</button>
    <button type="button" class="operator" value="+">+</button>

    <button type="button" value="1">1</button>
    <button type="button" value="2">2</button>
    <button type="button" value="3">3</button>
    <button type="button" class="operator" value="-">-</button>

    <button type="button" class="zero-button" value="0">0</button>
    <button type="button" class="decimal" value=".">.</button>
     <button type="button" class="equal-sign" value="=">=</button>
  </div>
</ion-content>